@import 'variables/variables';

@import 'mixins/mixins';

@import '../book/shortcodes';

/* deprecated page message style */

.deprecated 
{ 
    color:#ff0000; 
    margin-top:1em; 
    padding:1em;
    background-color: transparent;
    border: 1px solid #ff0000;
    background-image: url('/images/alert-triangle.svg');
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 2em;
    border-radius: 0.25em;
    filter: invert(15%) sepia(76%) saturate(6943%) hue-rotate(356deg) brightness(99%) contrast(118%);
}
.deprecated_title
{
    color: #37474f;
}