@import 'variables/variables';

@import 'mixins/mixins';

/* deprecated page message style */

.deprecated 
{ 
    color:#ff0000; 
    margin-top:1em; 
    padding:1em;
    background-color: transparent;
    border: 1px solid #ff0000;
    background-image: url('/images/alert-triangle.svg');
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 2em;
    border-radius: 0.25em;
    filter: invert(15%) sepia(76%) saturate(6943%) hue-rotate(356deg) brightness(99%) contrast(118%);
}
.deprecated_title
{
    color: #37474f;
}

/* columns */
.columns {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
  
    > div {
      margin: 1rem 0;
      min-width: 20rem / 2;
      padding: 0 1rem;
      flex: 1 1;
    }
}

/* cards */
.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    float: none;
}

.index-anchor {
    text-decoration: none;
    &:hover {
            text-decoration: none;
    }
}

.panel {
    margin-bottom: 2em;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
           box-shadow: 
                    0px 1px 0px #ccc,
                    0px 2px 0px #c9c9c9,
                    0px 3px 0px #bbb,
                    0px 4px 0px #b9b9b9,
                    0px 6px 0px rgba(0,0,0,.1),
                    0px 1px 0px rgba(0,0,0,.3),
                    0px 3px 0px rgba(0,0,0,.2),
                    0px 5px 0px rgba(0,0,0,.25),
                    0 7px  7px rgba(0,0,0,.1),
                    0 8px  7px rgba(0,0,0,.1),
                    0 9px  9px rgba(0,0,0,.1),
                    0 10px  10px rgba(0,0,0,.15),
                    0 15px  15px rgba(0,0,0,.16),
    }
}

.panel-default {
    border-color: #dddddd;
}

.panel-body {
    padding: 5px 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.pack {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}